<div class="character-sheet">
    <h2><%= character.name %></h2>
    <p>Level <%= character.level %> <%= character.race %> <%= character.subclass %> <%= character.class %></p>
    <img src="<%= character.image %>" alt="">    
    <div class="stats">
        <h3>Strength:</h3><p><%=character.stats.strength%></p>
        <h3>Dexerity:</h3><p><%=character.stats.dexterity%></p>
        <h3>Constitution:</h3><p><%=character.stats.constitution%></p>
        <h3>Intelligence:</h3><p><%=character.stats.intelligence%></p>
        <h3>Wisdom:</h3><p><%=character.stats.wisdom%></p>
        <h3>Charisma:</h3><p><%=character.stats.charisma%></p>
    </div>
    <a href="/edit/<%= character._id %>">Edit Character</a>

</div>