<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Test 2</title>
</head>
<body>
    <div class="left-side"></div>
    <%- include('./partials/nav.ejs') %>
    <div class="main">
        <img src="<%= character.image %>" alt="">
        <a href="/edit/<%= character._id %>">Edit Character</a>
        <h2><%= character.name %></h2>
        <p>Level <%= character.level %> <%= character.race %> <%= character.subclass %> <%= character.class %></p>
        <h3>Strength:</h3><p><%=character.stats.strength%></p>
        <h3>Dexerity:</h3><p><%=character.stats.dexterity%></p>
        <h3>Constitution:</h3><p><%=character.stats.constitution%></p>
        <h3>Intelligence:</h3><p><%=character.stats.intelligence%></p>
        <h3>Wisdom:</h3><p><%=character.stats.wisdom%></p>
        <h3>Charisma:</h3><p><%=character.stats.charisma%></p>
    </div>
    <div class="right-side"></div>
    <div class="footer"></div>
</body>
</html>